<div class="overview">
  <img class="displayed" src="<%= @representative.photo %>" width="500" height="600">
  <h1><%= @representative.name %></h1>
  <h2><%= @representative.title %></h2>
  <h3><%= @representative.party %></h3>
  <h4>
    <%= @representative.street %>,
    <%= @representative.city %>,
    <%= @representative.state %>,
    <%= @representative.zip %>
  </h4>
  <h5><%= @representative.ocdid %></h5>
</div>