<h1>Top 5 News for <%= @representative.name %></h1>

<%= form_with(url: representative_create_my_news_item_path(@representative), method: "post") do |form| %>
  <fieldset>
    <legend>Select an article:</legend>
    <% @articles.each_with_index do |article, index| %>
      <div>
        <%= form.radio_button :articleindex, index, id: "article#{index}" %>
        <%= form.label "article_#{index}" do %>
          <strong>Title:</strong> <%= article['title'] %><br>
          <strong>Link:</strong><%= link_to article['url'], article['url'], target: '_blank' %><br>
          <strong>Description:</strong> <%= article['description'] %><br>
        <% end %>

        <!-- Hidden fields to store article attributes -->
        <%= form.hidden_field "news_item[title]", value: article['title'] %>
        <%= form.hidden_field "news_item[description]", value: article['description'] %>
        <%= form.hidden_field "news_item[link]", value: article['url'] %>
        <%= form.hidden_field "news_item[representative_id]", value: params[:representative_id] %>
        <%= form.hidden_field "news_item[issue]", value: params[:news_item][:issue] %>        <hr>
      </div>
    <% end %>
  </fieldset>

  <div>
    <%= form.label :"news_item[rating]", 'Rating' %>
    <%= form.select :"news_item[rating]", options_for_select([1, 2, 3, 4, 5]) %>
    
  </div>

  <%= form.submit "Save" %>
<% end %>